#formfield-form-widgets-question iframe,
#answer_listing iframe {
    box-shadow: none;
}

#formfield-form-widgets-introduction textarea,
#formfield-form-widgets-question textarea {
    height: 100px;
}

.hidden,
.button.hidden {
    display: none
}
