#intro-actions a {
    display: block;
}
.introhelp {
    float:right;
}

#formfield-form-widgets-introduction iframe,
#formfield-form-widgets-question iframe,
#answer_listing iframe {
    box-shadow: none;
}

#formfield-form-widgets-introduction textarea,
#formfield-form-widgets-question textarea {
    height: 100px;
    width: 90%;
}

.hidden,
.button.hidden {
    display: none
}

.itemnumber {
    float: left;
}

.marks {
    margin: -1em 0 1em 1em;
    padding: 0;
}

#add-assessmentitem {
    margin: 1em;
    padding: 0.3em;
}

#actions-and-info {
    border-bottom: 1px solid black;
}

div.item-actions a {
    margin-right: 1em;
}
div.item-info {
    margin-bottom: 1em;
    float: right;
}
span.item-info {
    margin-right: 1em;
}


hr.item-separator {
    margin-top: 1em;
}

button.select-intro::-moz-focus-inner {
  border: 0;
}
button.select-intro:hover {
    background: #efefef;
}
button.select-intro {
    background: transparent;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 1em;
}

#introtext {
    padding: 0.5em;
    border: 1px solid black;
}
